<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>To Do List</title>
  <link href="ILUS.css" rel="stylesheet">
  </link>
  <link href="style.css" rel="stylesheet">
  </link>
  <script src="vue@2.6.12.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"> </script>
</head>
<body class="text-auto">
  <div id="nav" class="nav bor red">
    <span class="pack"></span>
    <button v-on:click="on" id="icon">&#x2261;</button>
    <br /><span id="time"></span> <br />
    <hr />
    <nobr id="user"></nobr>
    <hr />
    <button v-on:click="change" class="bor btn red">Change user</button>
    <hr />
    <iframe src="logo.html" frameborder="0"></iframe>
    <button v-on:click="off" class="button red up">
      &#x2191;
    </button>
    </div><br /><br /><br /><br /><br /><br />
  <div id="list">
    <input v-model="newTask" class="inp bor" placeholder="Enter tasks here"></input>
    <button class="btn red" v-on:click="()=>{addT(this)}">
      Add <span id="add">&#9010;</span>
    </button>
    <ul class="bor list card text-auto">
      {{htr}}
      <li v-for="tsk in task">{{tsk}} <button v-on:click="()=>{removeT(tsk)}">Remove <span>&#9747;</span> &nbsp; &nbsp; </button></li>
    </ul>
  </div>
  <script src="app.js"></script>
</body>
</html>
